{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
<div class="container mt-5 p-3 bg-success" style="margin-bottom:100px;">
<h2>Add Category Details</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
  <label class="form-label">Category name</label>
  <input type="text" class="form-control" name="n" placeholder="Enter Category">
</div>
    <div class="mb-3">
  <label class="form-label">Image</label>
  <input type="file" class="form-control"  name="i">
</div>
    <div class="mb-3">
  <label class="form-label">Description</label>
  <textarea class="form-control" name="d"></textarea>
</div>
    <div class="mb-3 text-center">
    <input type="submit" class="btn btn-dark text-light px-4">
  </div>
</form>
    </div>
</center>
{% endblock %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->